body {
  background-color: #02010a;
  font-family: Dancing Script;

}

header{
  background-color: #5B7989;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 1vh 1vw;
  text-align: left;
}

header h1 {
  display: inline;
  text-shadow: 2px 2px #02010a;

}

#enlaces {

display: inline;
}
